<!-- Footer -->
<footer class="footer">
  <div class="container">
    <!-- logo -->
    <a href="{{ routes.root_url }}" class="logo" title="{{ shop.name }}">
      {% if shop.brand.logo %}
        <img src="{{ shop.brand.logo | img_url: '200x' }}" alt="{{ shop.name }}">
      {% else %}
        <span class="shop-name">
          {{ shop.name }}
        </span>
      {% endif %}
    </a>

    <nav class="nav">
      <span class="nav-title">Quick Links</span>
      <ul>
        <li>
          <a href="/terms-and-conditions" title="Terms and Conditions">Terms and Conditions</a>
        </li>
        <li>
          <a href="/privacy" title="Privacy policy">Privacy policy</a>
        </li>
        <li>
          <a href="/site-map" title="Site Map">Site Map</a>
        </li>
      </ul>
    </nav>

    <nav class="nav social-links">
      <span class="nav-title">Follow me on social</span>
      <ul>
        <!-- social links -->
        <li>
          <a href="https://www.facebook.com/ctrlbuild">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/ctrlbuild">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/ctrlbuild">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
